<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BoyAttacked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,258},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>BoyAttacked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{289,132},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>BoyFire.png</key>
            <dict>
                <key>frame</key>
                <string>{{147,2},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>BoyNormal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>BoyNormal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,181},{143,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,176}}</string>
                <key>sourceSize</key>
                <string>{143,176}</string>
            </dict>
            <key>BoyNormal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,177}}</string>
                <key>sourceSize</key>
                <string>{143,177}</string>
            </dict>
            <key>BoyNormal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,181},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>BoyNormal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{138,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,181}}</string>
                <key>sourceSize</key>
                <string>{138,181}</string>
            </dict>
            <key>BoyRun1.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,359},{140,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>BoyRun2.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,2},{128,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Boy.png</string>
            <key>size</key>
            <string>{503,503}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04f5d079d9eab82f7fa61b41e948aadf:8037162a3c8bbe0b08be8f4928d5f494:54ffe52027f724c632c7a71721fe3a37$</string>
            <key>textureFileName</key>
            <string>Boy.png</string>
        </dict>
    </dict>
</plist>
