<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role2Attacked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>Role2Attacked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{134,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,186}}</string>
                <key>sourceSize</key>
                <string>{134,186}</string>
            </dict>
            <key>Role2Fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1126,2},{145,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,175}}</string>
                <key>sourceSize</key>
                <string>{145,175}</string>
            </dict>
            <key>Role2Jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1419,2},{136,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,168}}</string>
                <key>sourceSize</key>
                <string>{136,168}</string>
            </dict>
            <key>Role2Move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1273,2},{144,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,171}}</string>
                <key>sourceSize</key>
                <string>{144,171}</string>
            </dict>
            <key>Role2Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{842,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role2Victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,2},{140,185}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,185}}</string>
                <key>sourceSize</key>
                <string>{140,185}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role2.png</string>
            <key>size</key>
            <string>{1557,190}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:87b40c37c3bb04f13935c94b7a7ce76d:450266146be886a286e29200a1b239bc:06423f50387f85a8dadb841069c9c55c$</string>
            <key>textureFileName</key>
            <string>Role2.png</string>
        </dict>
    </dict>
</plist>
