<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role4Attaked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{189,2},{185,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,182}}</string>
                <key>sourceSize</key>
                <string>{185,182}</string>
            </dict>
            <key>Role4Attaked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{185,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,182}}</string>
                <key>sourceSize</key>
                <string>{185,182}</string>
            </dict>
            <key>Role4Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{1304,2},{165,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,177}}</string>
                <key>sourceSize</key>
                <string>{165,177}</string>
            </dict>
            <key>Role4Jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1471,2},{160,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,176}}</string>
                <key>sourceSize</key>
                <string>{160,176}</string>
            </dict>
            <key>Role4Move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,2},{158,175}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,175}}</string>
                <key>sourceSize</key>
                <string>{158,175}</string>
            </dict>
            <key>Role4Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,2},{151,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1145,2},{157,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,178}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,2},{157,178}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,178}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{151,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{151,180}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{839,2},{145,180}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{145,180}}</string>
                <key>sourceSize</key>
                <string>{157,180}</string>
            </dict>
            <key>Role4Victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,2},{155,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,181}}</string>
                <key>sourceSize</key>
                <string>{155,181}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role4.png</string>
            <key>size</key>
            <string>{1793,186}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14a9f11e6ae8d4b01f8bb1b04230f33e:a418267237070668a08f80da4e92b9aa:0a794ae430d1613340214975251c4f6a$</string>
            <key>textureFileName</key>
            <string>Role4.png</string>
        </dict>
    </dict>
</plist>
