<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role1Attacked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1462,2},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Attacked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,2},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Fire.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,2},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>Role1Jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Move1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,2},{128,192}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,192}}</string>
                <key>sourceSize</key>
                <string>{128,192}</string>
            </dict>
            <key>Role1Move2.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{140,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,178}}</string>
                <key>sourceSize</key>
                <string>{140,178}</string>
            </dict>
            <key>Role1Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,2},{143,176}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,176}}</string>
                <key>sourceSize</key>
                <string>{143,176}</string>
            </dict>
            <key>Role1Normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{143,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,177}}</string>
                <key>sourceSize</key>
                <string>{143,177}</string>
            </dict>
            <key>Role1Normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,2},{138,181}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,181}}</string>
                <key>sourceSize</key>
                <string>{138,181}</string>
            </dict>
            <key>Role1Victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{1647,2},{121,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,189}}</string>
                <key>sourceSize</key>
                <string>{121,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role1.png</string>
            <key>size</key>
            <string>{1838,147}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4e80bdd0a051daca5a91882471ba3ac1:12faa7f8ed2eb164310db82fa07a5604:183082701fffbb6bcef342ba62f44148$</string>
            <key>textureFileName</key>
            <string>Role1.png</string>
        </dict>
    </dict>
</plist>
