<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role3Attacked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{184,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,217}}</string>
                <key>sourceSize</key>
                <string>{184,217}</string>
            </dict>
            <key>Role3Attacked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,2},{184,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,217}}</string>
                <key>sourceSize</key>
                <string>{184,217}</string>
            </dict>
            <key>Role3Fail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1279,2},{184,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,217}}</string>
                <key>sourceSize</key>
                <string>{184,217}</string>
            </dict>
            <key>Role3Fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{185,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,195}}</string>
                <key>sourceSize</key>
                <string>{185,195}</string>
            </dict>
            <key>Role3Frozen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,243}}</string>
                <key>sourceSize</key>
                <string>{204,243}</string>
            </dict>
            <key>Role3Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1137,2},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>Role3Normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>Role3Normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{853,2},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>Role3Normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{711,2},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>Role3Normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{140,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,187}}</string>
                <key>sourceSize</key>
                <string>{140,187}</string>
            </dict>
            <key>Role3Victory.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{133,195}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,195}}</string>
                <key>sourceSize</key>
                <string>{133,195}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role3.png</string>
            <key>size</key>
            <string>{1717,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f4abfa6c606d49cb43d299468062c13$</string>
            <key>textureFileName</key>
            <string>Role3.png</string>
        </dict>
    </dict>
</plist>
