<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Role1Attacked1.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Attacked2.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Fail1.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{124,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,183}}</string>
                <key>sourceSize</key>
                <string>{124,183}</string>
            </dict>
            <key>Role1Fire1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,2},{139,177}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,177}}</string>
                <key>sourceSize</key>
                <string>{139,177}</string>
            </dict>
            <key>Role1Frozen1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{204,243}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,243}}</string>
                <key>sourceSize</key>
                <string>{204,243}</string>
            </dict>
            <key>Role1Normal1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1190,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal3.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal4.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Normal5.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,2},{140,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{140,180}}</string>
                <key>sourceSize</key>
                <string>{140,180}</string>
            </dict>
            <key>Role1Victory1.png</key>
            <dict>
                <key>frame</key>
                <string>{{247,2},{121,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,189}}</string>
                <key>sourceSize</key>
                <string>{121,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Role1.png</string>
            <key>size</key>
            <string>{1473,208}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6808651529b1535ad1b31b08771e948f$</string>
            <key>textureFileName</key>
            <string>Role1.png</string>
        </dict>
    </dict>
</plist>
